# This is a Bitbucket Pipeline configuration file.
# It defines the pipeline to build a Docker image and push it to a custom registry.

image: atlassian/default-image:latest

pipelines:
  default:
    - step:
        runs-on:
          - rose.runner
        name: Build and Push Docker Image
        caches:
          - docker
        script:
         - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin $DOCKER_REGISTRY_URL
         - docker build -t $DOCKER_REGISTRY_URL/$DOCKER_REPO_NAME:latest .
         - docker push $DOCKER_REGISTRY_URL/$DOCKER_REPO_NAME:latest

        services:
          - docker
    - step:
      name: Deploy to Portainer
      deployment: test
      # trigger: manual  # Uncomment to make this a manual deployment.
      script:
        - echo "Deploying to Portainer"
        - curl  -X POST 'https://docker.digitalindividuals.com/api/webhooks/81111e11-2002-4b23-a3b0-949650fc8a16'
definitions:
  services:
    docker:
      memory: 2048
