# This is a Bitbucket Pipeline configuration file.
# It defines the pipeline to build a Docker image and push it to a custom registry.

image: atlassian/default-image:latest

pipelines:
  default:
    - step:
        runs-on:
          - rose.runner
        name: Build and Push Docker Image
        caches:
          - docker
        script:
          # Login to the custom Docker registry
          - '$DOCKER_PASSWORD' | docker login -u '$DOCKER_USERNAME' --password-stdin $DOCKER_REGISTRY_URL
          
          # Build the Docker image
          - docker build -t $DOCKER_REGISTRY_URL/$DOCKER_REPO_NAME:latest .
          
          # Push the Docker image to the registry
          - docker push $DOCKER_REGISTRY_URL/$DOCKER_REPO_NAME:latest

        services:
          - docker
          
definitions:
  services:
    docker:
      memory: 2048
